@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey!!!</h1>
    <h2 class="display-2">learn docker !</h2>
    <img src="docker.jpeg" alt="Docker">
    <p>The time on the server is @DateTime.Now</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
